<head>
  <title>Blogue do Puro Osso</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "/assets/gruvbox.css" | relative_url }}">
  <link rel="shortcut icon" type="image/favicon" href="/assets/img/icone.png">
  <link rel="me" href="https://bolha.one/@frufru">
  {%- feed_meta -%}
</head>
