<header class="site-header" role="banner">
  <nav>
    <div class="logo">
      <img src="/assets/img/icone.png" alt="">
      <h1 class="fg">Blogue do Puro Osso</h1>
    </div>
    <div class="links-nav">
      {%- if page.url == '/' -%}
        <a class="link-nav-ativo" href="/">Início</a>
      {%- else -%}
        <a class="link-nav" href="/">Início</a>
      {%- endif -%}

      {%- if page.url == '/sobre/' -%}
        <a class="link-nav-ativo" href="/sobre/">Sobre</a>
      {%- else -%}
        <a class="link-nav" href="/sobre/">Sobre</a>
      {%- endif -%}

      {%- if page.url == '/social/' -%}
        <a class="link-nav-ativo" href="/social/">Social</a>
      {%- else -%}
        <a class="link-nav" href="/social/">Social</a>
      {%- endif -%}

      {%- if page.url == '/categorias/' -%}
        <a class="link-nav-ativo" href="/categorias/">Categorias</a>
      {%- else -%}
        <a class="link-nav" href="/categorias/">Categorias</a>
      {%- endif -%}

      {%- if page.url == '/buttons/' -%}
        <a class="link-nav-ativo" href="/buttons/">Buttons</a>
      {%- else -%}
        <a class="link-nav" href="/buttons/">Buttons</a>
      {%- endif -%}
    </div>
  </nav>
</header>
