@font-face {
  font-family: 'Ubuntu';
  src: url('../assets/fonts/Ubuntu-R.ttf');
}

@font-face {
  font-family: 'Ubuntu Mono';
  src: url('../assets/fonts/UbuntuMono-R.ttf');
}


:root {
  --bg_h: #1d2021;
  --bg:   #282828;
  --bg_s: #32302f;
  --bg1:  #3c3836;
  --bg2:  #504945;
  --bg3:  #665c54;
  --bg4:  #7c6f64;

  --fg:  #fbf1c7;
  --fg1: #ebdbb2;
  --fg2: #d5c4a1;
  --fg3: #bdae93;
  --fg4: #a89984;

  --red:    #fb4934;
  --green:  #b8bb26;
  --yellow: #fabd2f;
  --blue:   #87D7E6;
  --purple: #D9A7F6;
  --aqua:   #8ec07c;
  --gray:   #928374;
  --orange: #fe8019;

  --red-dim:    #cc2412;
  --green-dim:  #a8a72a;
  --yellow-dim: #d79921;
  --blue-dim:   #9FD4BA;
  --purple-dim: #CF9FD4;
  --aqua-dim:   #689d6a;
  --gray-dim:   #a89984;
  --orange-dim: #d65d0e;
}

/* Normal Colors */

.red {
  color: var(--red);
}

.green {
  color: var(--green);
}

.yellow {
  color: var(--yellow);
}

.blue {
  color: var(--blue);
}

.purple {
  color: var(--purple);
}

.aqua {
  color: var(--aqua);
}

.gray {
  color: var(--gray);
}

.orange {
  color: var(--orange);
}

/* Dim Colors */

.red-dim {
  color: var(--red-dim);
}

.green-dim {
  color: var(--green-dim);
}

.yellow-dim {
  color: var(--yellow-dim);
}

.blue-dim {
  color: var(--blue-dim);
}

.purple-dim {
  color: var(--purple-dim);
}

.aqua-dim {
  color: var(--aqua-dim);
}

.gray-dim {
  color: var(--gray-dim);
}

.orange-dim {
  color: var(--orange-dim);
}

/* Foreground Colors */

.fg {
  color: var(--fg);
}

.fg1 {
  color: var(--fg1);
}

.fg2 {
  color: var(--fg2);
}

.fg3 {
  color: var(--fg3);
}

.fg4 {
  color: var(--fg4);
}

/* Background Colors */

.bg-hard {
  color: var(--bg_h);
}

.bg {
  color: var(--bg);
}

.bg-soft {
  color: var(--bg_s);
}

.bg1 {
  color: var(--bg1);
}

.bg2 {
  color: var(--bg2);
}

.bg3 {
  color: var(--bg3);
}

.bg4 {
  color: var(--bg4);
}

.pixel-art {
  image-rendering: pixelated;
}

a {
  color: var(--green-dim);
}

.highlight {
  overflow: scroll;
  font-family: 'Ubuntu Mono';
}


.language-plaintext {
  background-color: var(--bg1);
  color: var(--red);
  padding-left: 5px;
  padding-right: 5px;
}

body {
  margin: 0;
  padding: 0;

  background-color: var(--bg);
  
  font-family: 'Ubuntu';
}

header {
  width: 100%;
  height: 70px;

  display: flex;
  justify-content: center;
}

nav {
  width: 90%;
  padding: 15px;
  background-color: var(--bg1);

  border: 2px outset var(--bg);
  border-radius: 0 0 15px 15px;
  box-shadow: 0px 1px 10px 5px var(--bg_h);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 300px;
  height: 100%;

  display: flex;
  justify-content: start;
  align-items: center;
  gap: 15px;
}

.logo > img {
  height: 90%;
}

.logo > img:hover {
  animation-name: agitar;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.links-nav {
  width: 500px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  font-weight: bolder;
  text-decoration: none;
}

.link-nav-ativo {
  background-color: var(--purple-dim);
  color: var(--bg);

  padding: 10px;

  border-radius: 5px;
  border: 1px outset var(--purple-dim);
  box-shadow: 0px 3px 5px 1px var(--bg_h);
  box-shadow: inset 0 1px 0 var(--fg), 0 1px 5px var(--bg);

  font-weight: bolder;
  text-decoration: none;
}

.link-nav {
  color: var(--fg);
  font-weight: bolder;
  text-decoration: none;

  padding: 10px;
}

.link-nav:hover {
  background-color: var(--bg);

  border-radius: 5px;
  box-shadow: inset 0 3px 5px var(--bg_h);

  padding: 10px;
}

.logo-responsivo {
  color: var(--fg);
  text-align: center;
  display: none;
}

.bars-container {
  width: calc(90% + 30px);
  height: 65vh;

  margin: 5% auto;

  display: flex;
  justify-content: space-between;
  gap: 15px;
}

.posts-container {
  width: 100%;
  height: 100%;

  border: 2px outset var(--bg);
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0px 1px 10px 5px var(--bg_h);

  background-color: var(--bg1);

  overflow-y: scroll;
}

.post-list-heading {
  margin-top: 0;
  color: var(--purple);
  font-size: 30pt;
}

.sidebar {
  width: 30%;
  height: 100%;

  border: 2px outset var(--bg);
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0px 1px 10px 5px var(--bg_h);

  background-color: var(--bg1);

  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.sidebar > .projetos > h3 {
  margin-top: 0;
}

.rss-link-post {
  display: none;
}

.post-list {
  width: 100%;
  padding-left: 0; list-style-type: none; }

.post-list > li {
  background: var(--bg3);
  padding: 15px;
  color: var(--fg);
  border-radius: 15px;
}

.post-list > li > span {
  color: var(--fg3);
  font-weight: bold;
}

.post-list > li > h3 > a {
  color: var(--blue);

  font-size: 15pt;
  text-decoration: none;
}

.card-separator {
  margin-left: 0;
  width: 50%;
}

.post-header {
  margin-top: 5%;
  height: 15%;

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.post-title {
  margin: 0;
  max-width: 60%;
  font-size: 40pt;
  font-weight: bolder;
  text-align: center;
  color: var(--purple);

  background: -webkit-linear-gradient(var(--purple), var(--purple-dim));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.post-content {
  width: 70%;
  margin: 0 auto;

  color: var(--fg);

  text-align: justify;
  font-size: 14pt;
  hyphens: auto;
}

p > img {
  width: 100%;
  box-shadow: 0px 5px 10px 5px var(--bg_h);
  border: 5px outset var(--fg);
  border-radius: 10px;
}

.buttons-grid {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  gap: 5px;
  margin-bottom: 15px;
}

.button {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-img {
  width: 100%;
  border: none;
  border-radius: 0;
  transition: 0.2s;
}

.button-img:hover {
  transform: scale(3);
  transition: 0.5s;
}

@keyframes agitar {
  0% {
    transform: rotate(40deg);
  }
  25% {
    transform: rotate(0deg);
  }   
  50% {
    transform: rotate(-40deg);
  }
  75% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(40deg);
  }
}

@media (max-width: 800px) {
  .buttons-grid {
    grid-template-columns: auto auto auto;
  }

  .button-img:hover {
    transform: scale(2);
  }

  .logo > h1 {
    display: none;
  }

  .logo {
    width: 10%;
  }

  .links-nav {
    width: 100%;
  }

  .logo {
    display: none;
  }

  .logo-responsivo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    
    margin-bottom: 0;
  }

  .logo-responsivo > img {
    height: 30px;
  }

  .sidebar {
    display: none;
  }

  .bars-container {
    margin-top: 0;
  }

  .rss-link-post {
    font-size: 15pt;
    display: block;
  }

  .post-title {
    width: 70%;
    font-size: 25pt;
    text-align: center;
  }
}
