---
layout: default
---
<div class="home">
  {{ content }}

  <div class="logo-responsivo">
    <img src="/assets/img/icone.png" alt="">
    <h1 class="fg">Blogue do Puro Osso</h1>
  </div>

  <div class="bars-container">
    <div class="posts-container">
      {%- if site.posts.size > 0 -%}
        <h1 class="post-list-heading">Postagens</h1>
        <ul class="post-list">
          {%- for post in site.posts -%}
          <li>
            {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
            <span class="post-meta">{{ post.date | date: date_format }}</span>
            <h3>
              <a class="post-link" href="{{ post.url | relative_url }}">
                {{ post.title | escape }}
              </a>
            </h3>
            {%- if site.show_excerpts -%}
              {{ post.excerpt }}
            {%- endif -%}
            <p>{{post.description}}</p>
          </li>
          <br>
          {%- endfor -%}
        </ul>
      {%- endif -%}
      <p class="fg rss-link-post">Leia <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
    </div>
    <div class="sidebar">
      <div class="projetos">
        <h3 class="purple"> Meus outros projetos: </h3>
        <ul class="fg">
          <li><a href="https://gitlab.com/Davi-Lopes/gpm">GIMP profile manager</a></li>
          <li><a href="https://gitlab.com/bibliotech2/LibraryGo">LibraryGo!</a></li>
          <li><a href="https://gitlab.com/Davi-Lopes/meu-neovim">Minha configuração neovim</a></li>
          <li><a href="https://textoparasm64.puro-osso.dev.br/">Conversor de texto para emoji de sm64</a></li>
          <li><a href="https://gitlab.com/davilooopes/capyblogue.git">CapyBlog</a></li>
        </ul>
      </div>
      <p class="fg">Leia <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
      <p class="fg">Dá uma olhada na nova <a href="/rolo">página de rolo</a> do meu blogue</p>
    </div>
  </div>
</div>
